body{
    background-color: #eaf0f7;
}

header{
   
    background-color: #1a253f;
    height: 60px;
}

header a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

header img{
    width:25px;
    margin-left: 10%;
}

.main-content{
    background-color: white;
    margin: 6% 7%;
}

.card{
    background-color: #1a253f;
    height: 350px;
    display: flex;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 50%;
}

.c1 img{
    height: 100px;
    border-radius: 50px;
}



#name{
    color: white;
    font-size:x-large;
    text-transform:uppercase;
    font-weight: bold;
    
}

.heading{
    color:white;
    font-weight: bold;
    margin-left: 20px;
    font-size: x-larger;
}

.c1 p{
    color: white;
    margin-left: 25px;
    font-weight: bold;
    font-style: italic;
}

.c2{
    padding: 20px 0px 0px 10px;
}

.c2 p{
    color: white;
    margin-left: 60px;
    
}

#printbutton{
    border-radius: 5%;
    width: 10%;
    height: 5%;
    border: none;
    color: blueviolet;
    margin: 1% 5%;
}

#printbutton:hover{
    background-color: #4d79f6;
    color: white;
    cursor: pointer;
}


.education div{
    border-left: blue dashed 0.5px;
    padding: 2% 0% 0% 3%;
    margin-left: 5%;
}

.year{
    text-decoration: underline;
    color: #50649c;
}

.degree{
    font-weight: bold;
}

.inst{
    color: #50649c;
}

.edu {
    color: #50649c;
    font-size: x-large;
    margin-left: 5%;
}

.education-and-skills{
    display: flex;
}

.experience{
    color: #50649c;
    font-size: x-large;
    margin-left: 5%;
}

.exp div{
    border-left: blue dashed 0.5px;
    padding: 2% 0% 0% 3%;
    margin-left: 5%;
}

.barline{
    width:50%;
    padding: 2% 1%;
}

.barline .bar{
    margin-top: 2.2rem;
}

.barline .bar:first-child{
    margin-top: 0px;
}

.barline .bar .info{
    margin-bottom: 5px;
    margin-top: 2.2rem;
}

.barline .bar .info span{
    font-weight: 500;
    font-size: 1.1rem;
}

.progress-line{
    width: 100%;
    height:12px;
    border-radius: 10px;
    background-color: #f0f0f0;
    position:relative;
    
}

.progress-line span{
    height: 100%;
    width:80%;
    background: #4d79f6;
    position: absolute;
    border-radius: 10px;
}

.progress-line span::after{
    position: absolute;
    right: 0;
    top: -25px;
    color:#50649c
}

.progress-line.html span::after{
    content: "90%";
}

.progress-line.react span::after{
    content: "70%";
}

.progress-line.python span::after{
    content: "80%";
}

.progress-line.java span::after{
    content: "60%";
}


.progress-line.html span{
    width:90%;
}

.progress-line.react span{
    width:70%;
}

.progress-line.python span{
    width:80%;
}

.progress-line.java span{
    width:60%;
}

.contact-details{
    flex:1;
}

.contact-me{
    display: flex;
}

.contact-me p{
    padding-left: 75px;
}

.bold{
    font-weight: bold;
    margin-left: 5px;

}

.italic{
    font-style: italic;
    margin-left: 5px;
}

.contact-form{
    flex:2;
}

textarea{
    width: 5%;
    resize: none;
}

.text-area{
    width: 50%;
}

.c1{
    display: flex;
}